[defaults]
inventory = inventory.ini
host_key_checking = False
private_key_file = /home/ab/.ssh/ansible-lab-key.pem
remote_user = abiola
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=60
